.flightTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
}

.flightTable td, .flightTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.flightTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.flightTable tr:hover {
    background-color: #ddd;
}

.flightTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.centerHead {
    display: flex;
    flex-direction: column;
    min-width: 647px;
}

.centerHead > h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 46%;
    font-size: 4vh;
}

.checkOption {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 261px;
    height: 130px;
}

#checkContainerDep, #checkContainerArr {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.checkOption > p {
    font-size: 30px;
}

.checkOption > input {
    width:50px;
    min-height:40px;
    min-width:40px;
    margin-bottom: 36px;
}

#departureData, #arrivalData > tr {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#departureData, #arrivalData > tr.showArrival {
    opacity: 1;
}


.mainHeader {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-left: 40%;
    height: 102px;
}

.mainHeader > img {
    width: 22px;
    height: 24px;
}

.mainHeader > h3 {
    font-size:45px;
}

.searchOption {
    display:flex;
    /*flex-wrap:wrap;*/
}

.searchOption > p {
    font-size: 2vh;
    position: relative;
    top: 17%;
    left: 0%;
}

.searchOption > input {
    height: 20%;
    position: relative;
    top: 37%;
    left: 5px;
    margin-top: 36px;
}

/* Adjust with the screen size, make it so that we display flex after a certain amount*/
/*
@media screen and (max-width: 600px) {
    .checkOption > input {
        margin-top:40%;
    }
}*/